/* You can use the font from google fonts:  
font-family: 'Indie Flower', cursive; */
body{
    background-color: #99738E;
}
header h1#title{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0%;
}
header div#quotation{
    background-color: lightgrey;
    border: 2px dashed black;
    border-radius: 10% 10% 30% 30%;
    height: 5%;
    width: 100%;
}
header p{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
article div#img-div{
    display: flex;
    flex-direction: column;
}  
article div#img-div img#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 75%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px;
    
}
article div#img-div div#img-caption{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    border-radius: 0px 0px 10px 10px;
    border-top: 0px;
    width: 75%;
    background-color: lightgrey;
}
article div#img-div div#img-caption p{
    text-indent: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(88, 88, 88);
}
section div#tribute-info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: 2px dotted black;
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    background-color: lightgrey;
}
section div#tribute-info h1{
    text-align: center;
}
footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: lightgrey;
    border: 2px dashed black;
    border-radius: 30% 30% 10% 10%;
    margin-top: 1%;
    height: 5%;
    width: 100%;
}