/* You can use the font from google fonts:  
font-family: 'Indie Flower', cursive; */
header h1#title{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0%;
}
header div#quotation{
    background-color: lightgrey;
    border: 2px dashed black;
    border-radius: 10% 10% 30% 30%;
    height: 5%;
    width: 100%;
}
header p{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
article div#img-div{
    display: flex;
    flex-direction: column;
}  
article div#img-div img#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 75%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px;
    
}
